[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = https://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/perspective"]
	path = site-lisp/perspective
	url = https://github.com/nex3/perspective-el.git
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/smart-forward"]
	path = site-lisp/smart-forward
	url = https://github.com/magnars/smart-forward.el.git
[submodule "site-lisp/change-inner"]
	path = site-lisp/change-inner
	url = https://github.com/magnars/change-inner.el.git
[submodule "site-lisp/multifiles"]
	path = site-lisp/multifiles
	url = https://github.com/magnars/multifiles.el.git
